doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title tamyam
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="tamyamのページ。tamyamがGitHubで公開しているプログラムなどの特徴もまとめたりしている。")
    link(rel="canonical", href="https://tamyam.github.io")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300&display=swap&subset=japanese")
  body
    header
      h1 tamyamのページ
      aside
        p(lang="ja") このページは日本語です。
        p(lang="en") This page is in Japanese.
        p: a(href="https://github.com/tamyam") Github
    main
      article
        section
          h2 tamyamがGitHubで公開しているプログラムなどの一覧
          ul
            li
              | tamyamDOM
              ul
                li JavaScriptのライブラリ
                li DOM操作を短いコードで行うことができる
                li
                  a(href="https://github.com/tamyam/tamyamLibrary/tree/master/tamyamDOM") tamyamDOM
        section
          h2 tamyamがGitHub Pagesで公開しているJavaScriptのプログラムの一覧
          ul
            li
              | nikespeed
              ul
                li HTML/JavaScript/CSSで作られた速度計
                li
                  a(href="nikespeed/") nikespeed
